
{% extends 'booking/base.html' %}
{% block body %}
{% if user.is_authenticated %}

        <div class="container">
            <h5>The following is his schedule find a free time and date.</h5>
        <div class="row">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                {% for b in user.counsellor_set.all   %}
                    {% if b.date >= today.date %}
                        <tbody>
                            <tr>
                                <td>{{ b.date }}</td>
                                <td>{{ b.time }}</td>
                            </tr>
                        </tbody>
                    {% endif %}
                    <br>
                {% endfor %}

            </table>
        </div>
        </div>
{% endif %}

{% endblock %}

