

{% for field in form %}
        <div class="form-group">
        {% if field.html_name == "reg_no" %}
            <label for ="{{ field.id_for_label }}" class="label" style="padding: 0;margin: 0;">{{ field.html_name}} / Phone No </label>
        {% else %}
                <label for ="{{ field.id_for_label }}" class="label" style="padding: 0;margin: 0;">{{ field.html_name}}</label>
        {% endif %}
                <div style="padding: 0;margin: 0;" >
                    {{ field }}
                </div>
                <p class="text-success">{{ field.help_text }}</p>
                </div>
    <p class="">{{ field.errors }}</p>
{% endfor %}

